.navbar {
  height: 85px;
  width: 947.65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.2rem calc(100vw - 1000px)/2; */
  z-index: 12;
}

.navbar-menu {
    width: 75%;

}
.navbar-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navbar-menu a {
  color: #808080;
  text-decoration: none;
  /* margin-left: 10px; */

  cursor: pointer;
  &.active {
    color: #000000;
  }
}

.navbar-end{
    width: 20%;
}

.navbar-end-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.search-input {
  width: 420.57px;
  height: 32.69px;
  border-radius: 16px;
  /* top: 101.27px;
    left: 188.99px;
    gap: 0px; */
  background: rgba(245, 245, 252, 1);
  /* color: rgba(255, 255, 255, 1); */
  background-image: url("../images/searchIcon.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px !important;
  border: none;
}
